.login-page {
    background-color: #f4f4f4 !important;

    .card-primary.card-outline-ibero {

        .text-create p{
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}