.login-page {
    background-image: url('../../images/background-login.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .card-primary.card-outline-ibero {
        border-top: 3px solid $tint-2;
        padding: 4px 4px 0px 4px;
    }
}