.content-formulario {
    padding: 15px 0;
    display: block;
    position: relative;
    height: 100%;

    .accordion {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 100%;

        .accordion-header {
            background-color: #eaeaea;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
    
        .accordion-header:hover {
            background-color: #e1e1e1;
        }
    
        .accordion-content {
            display: none;
            padding: 10px 20px;
            border-bottom: 1px solid #ccc;
            border-top: none;
    
            .label-input{
                margin: 0;
            }
    
            .input-dian{
                text-align: right;
            }
        }
    
        .arrow-icon {
            transition: transform 0.3s ease;
        }
    
        .border-title {
            border-right: 5px solid $tint-3;
            padding-right: 10px;
        }
        
        .content-right {
            height: 100%;
        }
    }

    .btns-content{
        width: 60px;
        position: absolute;
        right: 20px;
        bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .btn-form-dian{
            box-shadow: 2px 2px 3px rgb(225, 225, 225, .5);
            border-radius: 50%;
            width: 100%;
            height: 60px;
            flex: 100%;
            display: none;
            justify-content: center;
            align-items: center;

            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }

            i{
                color: white;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }

        #btn-show{
            display: flex;
            background-color: $tint-3;
        }

        #btn-send{
            background-color: $tint-2;
        }
    }

}