$color-ucamp: #03182d;
$color-secundario-ucamp: rgb(211, 26, 113);
$color-terciario-ucamp: rgb(5, 189, 155);
$linear-ucamp: linear-gradient(to right, rgb(8, 42, 77), rgb(16, 74, 130), rgb(43, 126, 179), rgb(36, 107, 154), rgb(21, 88, 119))