.content-formularios {
    position: relative;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    display: flex;
    padding: 5px 5px 60px 5px;
    flex-direction: column;
    overflow: auto;

    .side-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        display: block;
        padding: 5px 5px 67px 5px;
        box-sizing: border-box;
        overflow: hidden;
    }

    #left-panel {
        left: -50%;
    }

    #right-panel {
        right: -50%;
    }

    // Estilo de los botones
    .panel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $tint-1;
        color: #ffffff;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 20;
        display: flex;
        align-items: center;

        i {
            font-size: 20px;
        }

        .panel-btn-text {
            position: absolute;
            padding: 8px 12px;
            background-color: $tint-3;
            color: #fff;
            border-radius: 5px;
            display: none;
            white-space: nowrap;
        }
    }

    .left-btn {
        left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .panel-btn-text {
            top: 0;
            left: 45px;
        }
    }

    .right-btn {
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .panel-btn-text {
            top: 0;
            right: 45px;
        }
    }

    // Animaciones con GSAP
    .panel-btn:hover .panel-btn-text {
        display: inline-block;
        animation: fadeInText 0.5s forwards;
    }

    @keyframes fadeInText {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}