.content-formularios {
    position: relative;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    display: flex;
    padding: 5px 5px 60px 5px;
    flex-direction: column;
    overflow: hidden;

    .side-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 10;
        display: block;
        padding: 5px 5px 67px 5px;
        box-sizing: border-box;
        overflow: hidden;
    }

    #left-panel {
        left: -50%;
    }

    #right-panel {
        right: -50%;
    }

    // Estilo de los botones
    .panel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $tint-1;
        color: #ffffff;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 20;
        display: flex;
        align-items: center;

        i {
            font-size: 20px;
        }

        .panel-btn-text {
            position: absolute;
            padding: 8px 12px;
            background-color: $tint-3;
            color: #fff;
            border-radius: 5px;
            display: none;
            white-space: nowrap;
        }
    }

    .left-btn {
        left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .panel-btn-text {
            top: 0;
            left: 45px;
        }
    }

    .right-btn {
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .panel-btn-text {
            top: 0;
            right: 45px;
        }
    }

    // Animaciones con GSAP
    .panel-btn:hover .panel-btn-text {
        display: inline-block;
        animation: fadeInText 0.5s forwards;
    }

    @keyframes fadeInText {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .container-resultados-DIAN {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(176, 176, 176, 0.75);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;

        .container {
            height: 80%;
            max-height: 80%;
            position: relative;

            .card-header {
                background-color: #fff;
            }

            .card-resultados {
                border-top: solid 3px $tint-3;
            }

            .card-body-resultados {
                background-color: #f4f4f4 !important;
                overflow-y: scroll;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;

                .content-result-aviso {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 33, 84, 0.86);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;

                    .info-resultado {
                        text-align: center;
                        display: none;

                        p {
                            text-align: center;
                        }

                        i {
                            color: #fff;
                            font-size: 3rem;
                            margin: 2rem auto;
                        }

                        button {
                            margin: auto;
                        }
                    }
                }
            }
        }

        .content-btn {
            position: absolute;
            bottom: 80px;
            display: none;

            .resultados-btn {
                background-color: $tint-2;
            }
        }

        #resultados {
            .table-general {
                width: 100%;
                margin: auto;

                display: flex;
                justify-content: center;
                align-items: center;
                border-top: solid 0.5px #e0e0e0;

                .item-general {
                    margin-top: 1rem;
                    flex: 0 0 50%;
                    width: 50%;
                    text-align: center;

                    p {
                        font-weight: bold;
                        font-size: 2rem;
                    }

                    .icon-general {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            color: #fff;
                        }
                    }
                }

                .errores {

                    border-left: solid 0.5px #e0e0e0;

                    .icon-general {
                        background-color: #ffa7ba;
                    }
                }

                .aciertos {

                    .icon-general {
                        background-color: #55ff90;
                    }
                }
            }

            .table-especificos {
                border: solid 0.5px #e2e2e2;
                overflow: hidden;

                .progress-td {
                    vertical-align: middle;

                    .progress-bar {
                        background-color: rgba(0, 255, 88, 1);
                    }
                }
            }
        }

        #formulario {
            .content-formulario-generate {
                font-size: 0.8rem;
                background-color: #fff;
                position: relative;
                display: flex;
                justify-content: center;
                align-content: center;

                .logo-fondo-form {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    font-family: "Madimi One", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 7rem;
                    color: rgba(208, 208, 208, 0.25);

                    .camp-logo {
                        margin-left: 20px;
                    }
                }

                .casilla-general-dian {
                    background-color: #fff;
                    border: solid 0.5px $borde-dian;

                    .input-dian-info-form {
                        height: 30px;
                        max-height: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 10px;
                    }

                    .input-dian-info-form-1 {
                        border-right: solid 0.5px $borde-dian;
                        height: 30px;
                    }
                }

                .title-dian {
                    font-weight: bold;
                    font-size: 1rem;
                }

                .logo-dian-form {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .u-logo {
                        font-size: 1.5rem;
                        color: $tint-3;
                    }

                    span {
                        font-family: "Madimi One", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                    }

                    .camp-logo {
                        font-size: 1.5rem;
                        margin-left: 2px;
                        color: #021221;
                    }
                }

                .number-dian {
                    padding: 2px;

                    span {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $borde-dian;
                        color: #fff;
                        font-weight: bold;
                        font-size: 2.5rem;
                    }
                }

                .year-input-space {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .cuadro-input-dian {
                        width: 15px;
                        height: 15px;
                        border: solid .5px #000;
                        border-right: none;

                        &:last-child {
                            border: solid .5px #000;
                        }
                    }
                }

                .content-info-sect {
                    border-right: solid 0.5px $borde-dian;

                    .casilla-verticla-text-dian {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .verticla-text-dian {
                        writing-mode: sideways-lr;
                        text-orientation: mixed;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                    }
                }

                .value-info-dian {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: .9rem;
                }

                .value-info-dian.is-true {
                    background-color: $is-true;
                }

                .value-info-dian.is-false {
                    background-color: $is-false;
                }

                .sect-dian-form-number {
                    background-color: rgba(208, 208, 208, 0);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: -7.5px;
                    margin-left: -7.5px;
                    border-bottom: solid 0.5px $borde-dian;
                    overflow: hidden;

                    .verticla-sect-text-dian {
                        writing-mode: tb;
                        text-orientation: mixed;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        flex: 0 0 8%;
                        width: 8%;
                        line-height: 15px;
                        font-size: .8rem;
                    }

                    .content-inputs-number {
                        flex: 0 0 92%;
                        width: 92%;
                        font-size: .8rem;

                        .name-input-form {
                            border-left: solid 0.5px $borde-dian;
                            border-right: solid 0.5px $borde-dian;
                            line-height: 15px;
                        }

                        .name-input-form-sm {
                            font-size: .7rem;
                        }

                        .number-input-form {
                            border-left: solid 0.5px $borde-dian;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            line-height: 15px;
                        }

                        .number-input-form.is-true {
                            background-color: $is-true;
                        }
        
                        .number-input-form.is-false {
                            background-color: $is-false;
                        }

                        .cod-input-form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 15px;
                        }

                        >div:nth-child(6n+1) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+2) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+3) {
                            background-color: lighten($borde-dian, 65%);
                        }
                    }
                }

                .sub-sect-dian-form-number {
                    background-color: rgba(208, 208, 208, 0) !important;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: -7.5px;
                    margin-left: -7.5px;
                    overflow: hidden;

                    .sub-verticla-sect-text-dian {
                        writing-mode: tb;
                        text-orientation: mixed;
                        text-align: center;
                        display: inline-block;
                        flex: 0 0 8%;
                        width: 8%;
                        line-height: 15px;
                        font-size: .7rem;
                    }

                    .sub-content-inputs-number {
                        flex: 0 0 92%;
                        width: 92%;
                        font-size: .8rem;

                        .sub-name-input-form {
                            border-left: solid 0.5px $borde-dian;
                            border-right: solid 0.5px $borde-dian;
                            line-height: 15px;
                            position: relative;
                            padding-right: 7.5px;
                            padding-left: 7.5px;
                            flex: 0 0 55%;
                            max-width: 55%;
                        }

                        .sub-name-input-form-sm {
                            font-size: .7rem;
                        }

                        .sub-number-input-form {
                            border-left: solid 0.5px $borde-dian;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            line-height: 15px;
                            padding-right: 7.5px;
                            padding-left: 7.5px;
                            flex: 0 0 35.7%;
                            max-width: 35.7%;
                        }

                        .sub-number-input-form.is-true {
                            background-color: $is-true;

                            span{
                                margin: 0 !important;
                            }
                        }
        
                        .sub-number-input-form.is-false {
                            background-color: $is-false;

                            span{
                                margin: 0 !important;
                            }
                        }

                        .sub-cod-input-form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 15px;
                            position: relative;
                            padding-right: 7.5px;
                            padding-left: 7.5px;
                            flex: 0 0 9.3%;
                            max-width: 9.3%;
                        }

                        >div:nth-child(6n+1) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+2) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+3) {
                            background-color: lighten($borde-dian, 65%);
                        }
                    }
                }

                .padre-content-inputs-number {
                    border-left: solid 0.5px $borde-dian;

                    .sect-sub-dian-form-number {
                        position: relative;
                        width: 100%;
                        border-top: solid 0.5px $borde-dian;
                        background-color: rgba(208, 208, 208, 0) !important;
                        border-bottom: solid 0.5px $borde-dian;
                        flex: 0 0 100%;
                        max-width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: -7.5px;
                        margin-left: -.9px;

                        .name-sub-input-form {
                            border-right: solid 0.5px $borde-dian;
                            border-left: solid 0.5px $borde-dian;
                            line-height: 15px;
                            position: relative;
                            flex: 0 0 58.4%;
                            max-width: 58.4%;
                        }

                        .name-sub-input-form-sm {
                            font-size: .7rem;
                        }

                        .number-sub-input-form {
                            border-left: solid 0.5px $borde-dian;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            line-height: 15px;
                            position: relative;
                            flex: 0 0 33.266667%;
                            max-width: 33.266667%;
                        }

                        .number-sub-input-form.is-true {
                            background-color: $is-true;
                        }
        
                        .number-sub-input-form.is-false {
                            background-color: $is-false;
                        }

                        .cod-sub-input-form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 15px;
                            position: relative;
                        }

                        >div:nth-child(6n+1) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+2) {
                            background-color: lighten($borde-dian, 65%);
                        }

                        >div:nth-child(6n+3) {
                            background-color: lighten($borde-dian, 65%);
                        }

                    }
                }
            }
        }
    }
}