.content-formularios {

    .main-header-ucamp {
        width: 100%;
        position: relative;
        background-size: cover;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 108, 191, 0.7);
            z-index: 1;
        }

        .navigation-menu {
            position: relative;
            z-index: 2;

            .container-top,
            .container-center,
            .container-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                color: #fff;
            }

            .container-top {
                .left-section {
                    flex: 1;

                    .logo-page-dian {
                        background-color: #fff;
                        display: inline-block;
                        padding: 5px 25px;
                        border-radius: 20px;
                        box-shadow: 1px 1px 1px rgba(225, 225, 225, .5);
                        border: none;

                        span {
                            font-family: "Madimi One", sans-serif;
                            font-weight: 400;
                            font-style: normal;
                        }

                        .u-logo {
                            font-size: 1.8rem;
                            color: #05bd9b;
                        }

                        .camp-logo {
                            font-size: 1.8rem;
                            margin-left: 2px;
                            color: #021221;
                        }
                    }
                }

                .center-section {
                    flex: 1;
                    text-align: center;

                    h1 {
                        margin: 0;
                        font-size: 2.0rem;
                    }
                }

                .right-section {
                    flex: 1;
                    text-align: right;

                    p {
                        margin: 0;
                        font-size: 0.75rem;
                        line-height: 0.9rem;
                    }
                }
            }

            .container-center {
                align-items: center;
                padding: 5px 10px;
                box-sizing: border-box;

                i {
                    color: white;
                    cursor: pointer;
                    margin-right: 20px; // Espaciado entre los iconos
                }

                .menu-text {
                    color: white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 1;
                    margin-right: 20px;
                    font-size: 1.2rem;
                }
                .fas.fa-power-off {
                    margin-right: 0;
                }
            }

            .container-bottom {
                font-size: 1rem;
                color: white;
                text-align: center;
                padding: 5px 10px;
                box-sizing: border-box;
            }
        }
    }
}