.logo-navbar {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 20px;
    margin-right: 10px;

    span {
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .u-logo {
        font-size: 1.7rem;
        color: $tint-3;
    }

    .camp-logo {
        font-size: 1.7rem;
        margin-left: 2px;
        color: $tint-1;
    }
}

nav.navbar{
    .nav-item-camp{
        background-color: #eee;
        margin-right: 10px !important;
        border-radius: 20px;
    }

    .active-item-bar{
        background-color: $tint-3;

        a{
            color: #fff !important;
        }
    }
}