.main-sidebar{
    .brand-link{
        background-color: #fff !important;
    }

    .nav-sidebar{
        .active-item-nav{
            background-color: $tint-2;
        }
    }
}

.main-sidebar-ucamp{
    background-color: $tint-1;

    .nav-header{
        background-color: inherit;
        color: #fff;
    }

    .nav-item a{
        color: #fff;
    }

    .nav-item a:hover{
        color: #fff;
    }

    .nav-item:hover > .nav-link{
        background-color: darken($tint-1, 2);
        color: #fff;
    }

    .item-div-sidebar{
        height: 1px;
        width: 90%;
        background-color: $tint-3;
        margin: .5rem auto;
    }

    .user-sect-sodebar{
        background-color: #fff;
        padding: .5rem 1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgba(15,15,15,0.2);

        .user-icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: solid 1px #b5b5b5;
            box-shadow: 2px 2px 3px rgba(15,15,15,0.2);
            margin-right: 15px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        .user-info{
            p{
                margin: 0;
                color: $tint-1;
            }
        }
    }
}