body.page-home-camp {
    .home-signup{
        div.text-create{
            p{
                font-size: 1.3rem;
                font-weight: bold;
                color: #404040;
            }
        }

        p.text-small{
            font-size: 0.8rem;
            text-align: justify;
            line-height: 1.2;
        }
    }
}