// Estilos generales
body.page-home-camp {
    padding-top: 80px;

    .text-blue-camp {
        color: $tint-1;
    }

    .text-two-camp{
        color: $tint-2
    }

    .text-three-camp{
        color: $tint-3;
    }

    .text-four-camp{
        color: $tint-5;
    }

    .text-five-camp{
        color: #fcce0d;
    }

    .cont-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .flex-100 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .flex-custom {
            flex: 0 0 80%;
            max-width: 80%;
        }
    }


    #home-section-1 {
        background-image: url('../../images/home-1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .text-home-1 p {
            text-align: justify;
            font-size: 1rem;
        }

        .content {
            position: relative;
            z-index: 1;
            color: white;
        }

        .btn-home-1 .btn {
            background-color: $tint-1;
            border: 2px solid $tint-1;
            color: white;

            &:hover {
                background-color: $tint-2;
                border: 2px solid $tint-2;
            }
        }
    }

    #home-section-2 {
        background-image: url('../../images/home-2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .main-cont-flex {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .flex-100 {
                text-align: center;
                flex: 0 0 100%;
                max-width: 100%;
            }

            .text-home-2 {
                text-align: center;
                flex: 0 0 60%;
                max-width: 60%;
                margin: auto;
            }

            .btn-home-2 .btn {
                background-color: $tint-2;
                border: 2px solid $tint-2;
                color: white;

                &:hover {
                    background-color: $tint-3;
                    border: 2px solid $tint-3;
                }
            }
        }
    }

    #home-section-3 {
        background-image: url('../../images/home-2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .btn-home-3 .btn {
            background-color: $tint-2;
            border: 2px solid $tint-2;
            color: white;

            &:hover {
                background-color: $tint-3;
                border: 2px solid $tint-3;
            }
        }
    }

    #title-home-section-4{
        background-color: $tint-1;       
    }

    #home-section-4{
        background-image: url('../../images/home-3.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;
        padding-bottom: 4rem;

        .item-ruta{
            color:$tint-1;

            &:hover{
                background-color: $tint-5;
                color:#fff;
            }
        }
    }

    // Secciones de contenido
    .section-home {
        padding: 4rem 0;
    }

    // Footer
    .footer {
        padding: 40px 0;
        background-color: $tint-1;
        color: white;

        p {
            margin: 0;
        }

        .nosotros-footer{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            a{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .legal-temr{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            padding: 1rem 0;

            li{
                display: block;
            }
        }

        .items-social{
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            padding: 1rem 0;

            li{
                display: block;

                .css-evebs5{
                    color: #fff;
                }
            }
        }
    }

}