body.page-home {
    padding-top: 80px;

    .section-home-first{
        background-color: $tint-3;
        text-align: center;
    }

    .terminos-condiciones-sect{
        p{
            text-align: justify;
        }
    }
}