// Estilos generales
body.page-home-camp {
    padding-top: 80px;

    .text-blue-camp {
        color: $tint-1;
    }

    .text-two-camp {
        color: $tint-2
    }

    .text-three-camp {
        color: $tint-3;
    }

    .text-four-camp {
        color: $tint-3;
    }

    .text-five-camp {
        color: #fcce0d;
    }

    .cont-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .main-cont-flex {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .flex-100 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .flex-custom {
                @include responsive(mobile) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                @include responsive(tablet) {
                    flex: 0 0 90%;
                    max-width: 90%;
                }
                @include responsive(desktop) {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
                @include responsive(large) {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
                @include responsive(extra-large) {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
        }
    }


    #home-section-1 {
        background-image: url('../../images/home-1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .text-home-1 p {
            @include responsive(mobile) {
                text-align: center;
                font-size: .9rem;
            }
            @include responsive(desktop) {
                text-align: justify;
                font-size: 1.3em;
            }
            @include responsive(large) {
                text-align: justify;
                font-size: 1.3em;
            }
        }

        .content {
            position: relative;
            z-index: 1;
            color: white;
        }

        .btn-home-1{
            @include responsive(mobile) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btn {
                background-color: $tint-2;
                border: 2px solid $tint-2;
                color: white;
            }
        }
    }

    #home-section-2 {
        background-image: url('../../images/home-2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .main-cont-flex {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .flex-100 {
                text-align: center;
                flex: 0 0 100%;
                max-width: 100%;
            }

            .text-home-2 {
                text-align: center;
                flex: 0 0 60%;
                max-width: 60%;
                margin: auto;

                @include responsive(mobile) {
                    text-align: center;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin: auto;
                }
            }

            .btn-home-2{
                @include responsive(mobile) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .btn {
                    background-color: $tint-2;
                    border: 2px solid $tint-2;
                    color: white;
    
                    &:hover {
                        background-color: $tint-3;
                        border: 2px solid $tint-3;
                    }
                }
            }
        }
    }

    #home-section-3 {
        background-image: url('../../images/home-2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -2px;

        .btn-home-3 .btn {
            background-color: $tint-2;
            border: 2px solid $tint-2;
            color: white;

            &:hover {
                background-color: $tint-3;
                border: 2px solid $tint-3;
            }
        }
    }

    #home-section-4 {
        background-color: #fff;
        padding-bottom: 4rem;

        .main-cont-flex {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .btn-home-4{
            @include responsive(mobile) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #home-section-5 {
        .flex-custom {
            flex: 0 0 100%;
            max-width: 100%;

            @include responsive(desktop) {
                padding-left: 20%;
            }
        }

        .btn-home-5{
            @include responsive(mobile) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .main-cont-flex {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    // Secciones de contenido
    .section-home {
        @include responsive(mobile) {
            padding: 2rem 0;
        }
        @include responsive(desktop) {
            padding: 4.5rem 0;
        }
    }

}