.interactivo-view-curso {
    width: 100vw;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    padding: 10px 15px 60px 15px;
    background-color: #dfe8ee;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .section-left-interactivo{
        width: 50%;
        background-color: chartreuse;
    }

    .section-rights-interactivo{
        width: 50%;
        background-color: chocolate;
    }
}