.header-cursos {
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to bottom right, $tint-4, $tint-6);
}

.card-curso {
  background-color: #fff;
  border: solid .1px #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  &:hover {
    transform: scale(1.01);
  }
}